[submodule "ext/ktl"]
	path = ext/ktl
	url = https://github.com/karnkaul/ktl
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/GLFW/glfw
[submodule "ext/dyvk"]
	path = ext/dyvk
	url = https://github.com/karnkaul/dyvk
